@model Onpe.Web.ViewModel.DeleteCandidatoViewModel
 
  

@{
    ViewBag.Title ="Eliminar Candidato";
}
<div class="alert">
    <p>
        <h3>Estas seguro que deseas eliminar el Candidato?</h3>
    </p>
</div>
<hr />
<div class="row" align="center">
    <div class="col-md-4">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.CandidatoId)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.CandidatoId)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
   
        <div class="form-actions">
            <button type="submit"  value="Delete"class="btn btn-primary">
                <i class="fa fa-trash"></i>&nbsp;Eliminar
            </button>
              @Html.ActionLink("Back to List", "LstCandidato")
        </div>
    }
</div>
